.h5p-codequestion .table-testcase-container.image-tester tbody td {
  height: 200px;
}

.h5p-codequestion .tester-image img {
    background-color: white;
}

.h5p-codequestion .page-canvas .canvas-wrapper {
    position: relative;
}

.h5p-codequestion .page-canvas .canvas-wrapper .turtle-content{
    position: relative;
    background-color: white;
    width: 400px;
    margin-left:auto;
    margin-right: auto;
}


.h5p-codequestion .testcases-area td.tester-image {
    position: relative
}
.h5p-codequestion .testcases-area .tester-image.expected img {
    width: 200px;
    height: 200px;
}

.h5p-codequestion .testcases-area .canvas-wrapper {
    position: relative;
    background-color: white;
    width: 200px;
    height: 200px;
}

.h5p-codequestion .testcases-area .tester-image canvas {
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    margin: 0px !important;
}

.h5p-codequestion .testcases-area .tester-image canvas.merged {
    width:200px;
    height:200px;
    background-color: white;
}

.h5p-codequestion .testcases-area .tester-image canvas.merged {
    background-color: white;
}