.h5p-codequestion .table-testcase-container.image-tester tbody td {
    padding: 8px;
}

.h5p-codequestion .tester-image img {
    background-color: white;
}

.h5p-codequestion .page-canvas .canvas-wrapper {
    position: relative;
}

.h5p-codequestion .page-canvas .canvas-wrapper .turtle-content{
    position: relative;
    margin-left:auto;
    margin-right: auto;
}


.h5p-codequestion .testcases-area td.expected,
.h5p-codequestion .testcases-area td.user-output {
    position: relative
}
.h5p-codequestion .testcases-area .expected img,
.h5p-codequestion .testcases-area .user-output img {
    width: 150px;
    height: 150px;
}

.h5p-codequestion .testcases-area .canvas-wrapper {
    position: relative;
    background-color: white;
    width: 150px;
    height: 150px;
    border: 1px solid gray
}

.h5p-codequestion .testcases-area .expected canvas,
.h5p-codequestion .testcases-area .user-output canvas {
    width: 150px;
    height: 150px;
    margin: 0px !important;
}

.h5p-codequestion .testcases-area .expected canvas:nth-child(2),
.h5p-codequestion .testcases-area .user-output canvas:nth-child(2) {
    margin-top: -150px !important;
}

.h5p-codequestion .testcases-area .expected canvas.merged,
.h5p-codequestion .testcases-area .user-output canvas.merged {
    width:150px;
    height:150px;
    background-color: white;
    border: 1px solid gray
}

.h5p-codequestion .testcases-area .tester-image canvas.merged,
.h5p-codequestion .testcases-area .user-output canvas.merged {
    background-color: white;
}